<div class="button-holder">

  <%
  
  var disableText = null;

  if (locals?.noStamina) disableText = word.OUT_OF_STAMINA;
  if (locals?.fullStamina) disableText = word.FULL_OF_STAMINA;
  if (locals?.intoxicated) disableText = word.INTOXICATED;
  if (locals?.arrested) disableText = word.ARRESTED;
  if (locals?.insufficientCoins) disableText = word.INSUFFICIENT_COINS;
  if (locals?.lifeImprisonment) disableText = word.LIFE_IMPRISONMENT;

  %>


  <%if (disableText){%>
  <button class="btn btn-danger" type="button" disabled>
    <span class="button-text">
      <%=disableText%>
    </span>
  </button>

  <%}else{%>

  <%if (locals?.href){%>
  <a href="<%=locals?.href%>" class="btn btn-primary"><%=locals?.text%></a>
  <%}else{%>
  <button class="btn btn-primary" type="button" id="<%=locals?.id%>">
    <%if (locals?.loadingButton){%>
    <span class="spinner-border spinner-border-sm no-display" role="status" aria-hidden="true"></span>
    <span class="no-display">Loading...</span>
    <%}%>
              <span class="button-text"><%=locals?.text%></span>
  </button>
  <%}%>
  <%}%>

  <%if (locals?.showQuote || locals?.quoteText){%>
  <blockquote class="blockquote mb-0">
    <footer class="blockquote-footer" data-def="<%=locals?.quoteDefault%>">
      <%=locals?.quoteText%>
    </footer>
  </blockquote>
  <%}%>

</div>