<%if (locals?.showOnlyIf !== false){%>

<%const keyValidator = (locals?.inputType == 'number').if('return Number.prototype.keyValidator(event)', '') %>

<div class="input-group">

  <input id="<%=locals?.id%>" type="<%=locals?.inputType || 'text'%>" class="form-control" placeholder="<%=locals?.placeholder%>" value="<%=locals?.value%>" onkeypress="<%=keyValidator%>" />

  <%if (locals?.icon){%>
  <span class="input-group-text">
    <img class="mini-img" src="/img/<%=icon%>.png" />
  </span>
  <%}%>

</div>
<%}%>