<div class="mini-card card" tabindex="-1" data-key="<%=locals?.dataKey%>">

  <%if (locals?.badgeText){%>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
    <%if (locals?.badgeImg){%>
    <img src="<%=badgeImg%>" class="mini-img" alt="<%=badgeImg%>" />
    <%}%>
    <span class="badge-text"><%=badgeText%></span>
  </span>
  <%}%>

  <img src="<%=img%>" class="mini-card-img <%=locals?.imageClass%>" alt="<%=title%>" style="<%=locals?.imgColor ? 'background-color:' + locals?.imgColor   : ''%>" />
  <div class="card-body ">
    <h5 class="card-title mini-card-name">
      <%=title%>
    </h5>

    <span class="card-sub-title">
      <%=subTitle%>

      <span class="float-right"> <%=locals?.extraSubTitle%></span>
    </span>


  </div>
</div>