<h6 class="label-sub-title">
  <%=title%>
  <span id="<%=textId%>" class="progress-num float-right">
    <%=value%>%
  </span>
</h6>
<div class="progress">
  <div id="<%=barId%>" class="progress-bar progress-bar-striped <%=colorClass%>" role="progressbar" style="width: <%=value%>%" aria-valuenow="<%=value%>" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>