<%if (locals?.showOnlyIf !== false){%>
<li class="list-group-item">
  <%if (locals.sectionImg){%>
  <img class="<%=locals?.sectionImgClass%>" src="<%=locals.sectionImg%>">
  <%}%>
  <%=text%>
  <span id="<%=locals?.id%>" class="float-right"> <%=locals?.value%></span>
</li>
<%}%>