<head>
    <link rel="stylesheet" href="/css/robbery-result.css">
</head>

<div class="row align-items-center">


    <h6 class="card-title">
        Last Robbery Result
    </h6>

    <p class="card-text">
        <%=result.success? 'Success' : 'Fail' %>
    </p>

    <ul class="list-group list-group-flush">
        <%if (result.coins> 0){%>

            <li class="list-group-item">
                <%=result.coins%> Coins
            </li>
            <%}%>

                <%if (result.respect> 0){%>
                    <li class="list-group-item">
                        <%=result.respect%> Respect
                    </li>
                    <%}%>

                        <li class="list-group-item">
                            <%=result.intelligence%> Intelligence
                        </li>
                        <li class="list-group-item">
                            <%=result.dexterity%> Dexterity
                        </li>
                        <li class="list-group-item">
                            <%=result.strength%> Strength
                        </li>


    </ul>



</div>