<head>
    <link rel="stylesheet" href="/css/robbery-targets.css">
</head>

<div class="card">

    <div class="card-body">
        <h5 class="card-title">Making a Robbery</h5>
        <p class="card-text">Select a target and try your lucky! Each target places has a specific difficult and costs
            some amount of stamina to rober.</p>


        <div class="container">
            <div class="robbery-places-holder">
                <% for(let [index, place] of places.entries() || []){ %>
                    <div class="robbery-place-item card position-relative" style="width: 18rem;" tabindex="-1"
                        data-key="<%=place._id%>">
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                            <%=place.successChance%>%
                        </span>


                        <img src="<%=place.img%>" class="card-img-top" alt="..." />
                        <div class="card-body ">
                            <h5 class="card-title">
                                <%=place.name%>

                            </h5>

                            <span class="stamina">
                                <%=place.staminaCost%> Stamina
                            </span>
                            <span class="stamina">
                                <%=place.respect%> respect
                            </span>

                            <span class="stamina">
                                <%=place.coinsReward%> coins
                            </span>

                        </div>
                    </div>
                    <%} %>
            </div>

            <div class="robbery-form-holder list-group-item"></div>
        </div>
    </div>



</div>