<head>
    <link rel="stylesheet" href="/css/thief-status.css">
</head>

<div>


    <div class="card" style="width: 18rem;">
        <img src="<%=player.img%>" class="card-img-top" alt="thief head">
        <span class="badge rounded-pill respect-badge">
            <img src="/img/respect-star.png" class="respect-star-img">
            <%=player.respect%>
        </span>

        <div class="card-body">
            <h5 class="card-title ">
                <%=player.name%>
                    <span class="coin-display  float-right">
                        <img class="mini-img" src="/img/coin.png" alt="">
                        <%=Intl.NumberFormat().format(player.coins)%>
                    </span>

            </h5>

            <h6 class="label-sub-title">
                Stamina
                <span class="progress-num float-right">
                    <%=player.stamina%>%
                </span>
            </h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    style="width: <%=player.stamina%>%" aria-valuenow="<%=player.stamina%>" aria-valuemin="0"
                    aria-valuemax="100">
                </div>
            </div>

            <h6 class="label-sub-title">
                Intoxication
                <span class="progress-num float-right">
                    <%=player.intoxication%>%
                </span>
            </h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-purple" role="progressbar"
                    style="width: <%=player.intoxication%>%" aria-valuenow="<%=player.intoxication%>" aria-valuemin="0"
                    aria-valuemax="100">

                </div>
            </div>




        </div>


        <div class="card-body">
            <h6 class="label-sub-title">
                Attributes
            </h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Intelligence
                <span class="float-right">

                    <%=player.intelligence%>
                </span>
            </li>
            <li class="list-group-item">Dexterity
                <span class="float-right">
                    <%=player.dexterity%>
                </span>
            </li>
            <li class="list-group-item">Strength
                <span class="float-right">
                    <%=player.strength%>
                </span>

            </li>
        </ul>



        <div class="card-body">
            <h6 class="label-sub-title" style="margin-top: .5rem!important;">
                Weapons
            </h6>

            <% for(let [index, weapon] of player.weapons.entries() || []){ %>
                <img class="img-thumbnail" style="width: 120px;" src="<%=weapon.img%>" alt="">

                <%} %>

        </div>


    </div>

</div>