<html lang="en">

<%- include('../default/head'); %>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-painel min-fit middle-absolute">
        <div class="card">
          <div class="card-body" style="padding: 40px 70px;">
            <div class="row">
              <div class="col"><img src="/img/police-red.jpg" class="rounded-corners" style="width: 230px"></div>

              <div class="col">
                <h4 class="card-title"><%=text.PAGE_NOT_FOUND.PAGE_TITLE%></h4>
                <p class="card-text text-secondary"><%=text.PAGE_NOT_FOUND.DEFAULT_EXPLANATION%></p>
                <p class="card-text text-secondary"><%=text.PAGE_NOT_FOUND.EXTENSION%></p>
                <p class="card-text text-secondary" style="font-size: 10pt;"> <%=url%></p>
                <a href="/robbery" class="btn btn-primary"><%=text.PAGE_NOT_FOUND.BUTTON_TEXT%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>