<html lang="en">

<%- include('../default/head', {pageTitle: word.CLUB, css: ['club','lib/cards'], js:['club','lib/card-items','lib/form-control']}); %>

<script>
  window.lastClubItemSelected = '<%= session.lastClubItemSelected %>'
</script>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player-status'); %>
      </div>

      <div class="flex-painel content">
        <div class="card">
          <%- include('../partials/menu', {nav_club:true}); %>

          <div class="card-body">
            <h5 class="card-title"><%=text.CLUB.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.CLUB.DEFAULT_EXPLANATION%></p>

            <div class="card-items-scroll-area">
              <div class="hookers-holder card-items">
                <%- include('../placeholders/mini-card-item', {count : 7}); %>
              </div>
            </div>

            <div class="flex-container">
              <div class="flex-painel">
                <div class="card-items-scroll-area">
                  <div class="drugs-holder card-items">
                    <%- include('../placeholders/mini-card-item', {count : 5}); %>
                  </div>
                </div>
              </div>

              <div class="flex-right">
                <div class="club-form-placeholder card-flat">
                  <%- include('../placeholders/form', {lines: 4}); %>
                </div>

                <div class="club-form-holder card-flat"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>