<html lang="en">

<%- include('../default/head', {pageTitle: word.HISTORIC, player: true, js:'historic', css:'historic'}); %>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>

      <div class="flex-painel content">
        <div class="card">
          <%- include('../partials/menu', {nav_historic:true}); %>

          <div class="card-body">

            <h5 class="card-title"><%=text.HISTORIC.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.HISTORIC.DEFAULT_EXPLANATION%></p>

            <div class="historic-holder">
              <div class="historic-items">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>



</html>