<html lang="en">
<%- include('../default/head', {pageTitle: word.HOSPITAL, css: ['hospital'], js:['hospital']}); %>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>

      <div class="flex-panel content">
        <div class="card">
          <%- include('../partials/menu', {nav_hospital:true}); %>
          <div class="card-body">
            <h5 class="card-title"><%=text.HOSPITAL.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.HOSPITAL.DEFAULT_EXPLANATION %></p>

            <div class="flex-container flex-inline">


              <%- include('../partials/hospital-intoxicated'); %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>