<html lang="en">

<%- include('../default/head', {pageTitle: word.INVENTORY, player: true, carousel:true, css: ['inventory'], js:['inventory']}); %>


<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>
      <div class="flex-panel content">
        <div class="card">
          <%- include('../partials/menu', {nav_inventory:true}); %>

          <div class="card-body">

            <div class="flex-container">
              <div class="flex-panel">
                <h5 class="card-title"><%=text.INVENTORY.PAGE_TITLE%></h5>
                <p class="card-text text-secondary"><%=text.INVENTORY.DEFAULT_EXPLANATION%></p>
              </div>


              <div class="flex-right">
                <div class="inventory-form-placeholder">
                  <%- include('../placeholders/form', {  tabs: 2, buttons: [2,2] }); %>
                </div>

                <div class="inventory-form-holder"></div>
              </div>


            </div>


            <%- include('../partials/inventory-empty'); %>

            <div class="card-carousel-scroll-area">
              <div class="weapons-holder card-carousel">
                <%- include('../placeholders/big-card', {sectionLines: [9,6], count : 5}); %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>