<html lang="en">

<%- include('../default/head', {pageTitle: word.MARKET, carousel: true, css: ['market'], js:['market']}); %>


<script>
  window.lastMarketItemSelected = '<%= session.lastMarketItemSelected %>'
</script>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player-status'); %>
      </div>

      <div class="flex-painel content">
        <div class="card">
          <%- include('../partials/menu', {nav_market:true}); %>

          <div class="card-body">
            <h5 class="card-title"><%=text.MARKET.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.MARKET.DEFAULT_EXPLANATION%></p>

            <div class="card-carousel-scroll-area">
              <div class="merchandise-holder card-carousel">
                <%- include('../placeholders/mini-card-item', {count : 7}); %>
              </div>
            </div>

            <div class="flex-container">

              <div class="flex-painel">
                <div class="card-carousel-scroll-area">
                  <div class="market-holder card-carousel">
                    <%- include('../placeholders/mini-card-item', {count : 5}); %>
                  </div>
                </div>
              </div>

              <div class="flex-right">
                <div class="market-form-placeholder">
                  <%- include('../placeholders/form', {lines:4}); %>
                </div>

                <div class="market-form-holder card-flat"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>