<html lang="en">
<%- include('../default/head', {pageTitle: word.PRISON, css: ['prison'], js:['prison']}); %>

<body>
  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>

      <div class="flex-panel content">
        <div class="card">
          <%- include('../partials/menu', {nav_prison:true}); %>
          <div class="card-body">
            <h5 class="card-title"><%=text.PRISON.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=player.isLifeImprisoned() ? text.PRISON.LIFE_IMPRISONMENT_EXPLANATION : text.PRISON.DEFAULT_EXPLANATION %></p>
            <p class="card-text text-secondary">
              <%=!player.isLifeImprisoned() ? player.arrested ? text.PRISON.ARRESTED_TEXT: text.PRISON.NOT_ARRESTED_TEXT : ''%>
              <span id="releaseTime">
                <%=player.arrestRelease?.toDateDisplay()%>
              </span>
            </p>

            <div class="flex-container flex-inline">
              <%if (player.arrested){%>
              <%if (player.isLifeImprisoned()){%>
              <%- include('../partials/prison-for-life'); %>
              <%}else{%>

              <%- include('../partials/prison-escape'); %>
              <%- include('../partials/prison-bribe'); %>

              <%}}%>
              <%- include('../partials/prison-free'); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>