<html>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Robbery</title>
    <%- include('../default/head'); %>

        <link rel="stylesheet" href="/css/robbery.css">
        <script src="/js/robbery.js"></script>

        <script> window.lastSelectedPlaceId = '<%= session.lastSelectedPlaceId %>' </script>
</head>


<body>




    <div class="container">

        <div class="flex-container">

            <div class="flex-left">

                <%- include('../partials/thief-status'); %>
            </div>

            <div class="flex-painel content">



                <div class="card max">
                    <%- include('../partials/menu', {nav_robbery:true}); %>

                        <div class="card-body">

                            <h5 class="card-title">Making a Robbery</h5>
                            <p class="card-text">Select a target and try your lucky! Each target places has a specific
                                difficult and costs some amount of stamina to rober.</p>

                            <div class="robbery-places-scroll-attributes">
                                <div class="robbery-places-holder">

                                    <% [...Array(9).keys()].slice(1).forEach(()=>{ %>
                                        <%- include('../placeholders/robbery-place-item.html'); %>

                                            <% }) %>
                                </div>

                            </div>
                            <div class="flex-container">

                                <div class="flex-painel">

                                    <div class="robbery-form-placeholder list-group-item">
                                        <%- include('../placeholders/robbery-place-form.html'); %>
                                    </div>

                                    <div class="robbery-form-holder list-group-item">

                                    </div>
                                </div>

                                <div class="flex-right">
                                    <div class="robbery-result-holder list-group-item">

                                        <%- include('../partials/robbery-result'); %>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

</body>


</html>