<html lang="en">
<%- include('../default/head', {pageTitle: word.ROBBERY, css: ['robbery'], js:['robbery']}); %>

<body>

  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>

      <div class="flex-panel content">
        <div class="card">
          <%- include('../partials/menu', {nav_robbery:true}); %>
          <div class="card-body">
            <h5 class="card-title"><%=text.ROBBERY.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.ROBBERY.DEFAULT_EXPLANATION%></p>

            <div class="card-carousel-scroll-area">
              <div class="places-holder card-carousel">
                <%- include('../placeholders/mini-card', {count : 7}); %>
              </div>
            </div>

            <div class="flex-container">
              <div class="flex-panel">
                <div class="robbery-form-placeholder">
                  <%- include('../placeholders/form', {lines:5}); %>
                </div>

                <div class="robbery-form-holder card-flat"></div>
              </div>

              <div class="flex-right">
                <div class="robbery-result-holder card-flat">
                  <%- include('../partials/robbery-result'); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>