<html lang="en">
<%- include('../default/head', {pageTitle: word.ROBBERY, css: 'robbery', js:['robbery','lib/mini-cards','lib/form-control', 'lib/tooltip']}); %>
<script>
  window.lastPlaceItemSelected = '<%= session.lastPlaceItemSelected %>'
</script>

<body>

  <div class="container main-content">
    <div class="flex-container">
      <div class="flex-left">
        <%- include('../partials/player-status'); %>
      </div>

      <div class="flex-painel content">
        <div class="card">
          <%- include('../partials/menu', {nav_robbery:true}); %>
          <div class="card-body">
            <h5 class="card-title"><%=text.ROBBERY.PAGE_TITLE%></h5>
            <p class="card-text text-secondary"><%=text.ROBBERY.DEFAULT_EXPLANATION%></p>

            <div class="mini-card-scroll-area">
              <div class="places-holder mini-card-scroll-items">
                <%- include('../placeholders/mini-card-item.html', {count : 7}); %>
              </div>
            </div>

            <div class="flex-container">
              <div class="flex-painel">
                <div class="robbery-form-placeholder card-flat">
                  <%- include('../placeholders/form.html'); %>
                </div>

                <div class="robbery-form-holder card-flat"></div>
              </div>

              <div class="flex-right">
                <div class="robbery-result-holder card-flat">
                  <%- include('../partials/robbery-result'); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>