<html lang="en">

<%- include('../default/head', {pageTitle: word.SETTINGS, player:true, buttons:true, js:['settings']}); %>

<body>
  <div class="container main-content">

    <div class="flex-container">

      <div class="flex-left">
        <%- include('../partials/player/main'); %>
      </div>

      <div class="flex-painel content">

        <div class="card">
          <%- include('../partials/menu', {nav_settings:true}); %>

          <div class="card-body">

            <h5 class="card-title"><%=word.SETTINGS%></h5>

            <div class="col-md-2">
              <%- include('../single/buttons/button-group', {
                id: 'reset-player-dropdown', 
                text: word.RESET_PLAYER, 
                loadingButton: true,
                colorClass: 'btn-dark',
                options: [
                  {text: word.INITIAL_STATE, id: 'reset'},
                  {text: word.PRISONER, id: 'prisoner'},
                  {text: '10x'.concat(word.PLAYER), id: 'reset-10'},
                  {text: '100x'.concat(word.PLAYER), id: 'reset-100'},
                  {text: '1000x'.concat(word.PLAYER), id: 'reset-1000'}
                ]
              }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>