<div class="card-flat">

  <div class="card-body">
    <div class="row">

      <img src="<%=locals?.player?.head.image('heads','png') || '/img/heads/1.png'%>" class="player-img" style="background-color:<%=(locals?.player?.name || 'znone').toColor()%>" />

      <%- include('../single/input-item', {id: 'player-name', inputType : 'text', placeholder : word.PLAYER_NAME, value:locals?.player?.name}); %>


      <div class="input-group">
        <p id="player-wallet" class="form-control"><%=locals?.player?.wallet%></p>
      </div>



      <%- include('../single/buttons/button', {
        id: 'play', 
        icon: 'metamask'.image(null, 'png'),
        text: text.LOGIN.PLAY_WITH_METAMASK, 
        loadingButton: true
       }); %>

      <%- include('../single/buttons/button', {
        id: 'connect', 
        icon: 'metamask'.image(null, 'png'),
        text: text.LOGIN.CONNECT_WITH_METAMASK, 
        loadingButton: true
      }); %>


    </div>
  </div>
</div>