<div class="row align-items-center">
  <h6 class="card-title"><%=text.MARKET.WANNA_BUY.format(data.name)%></h6>

  <%- include('../single/label-item', { text: word.COINS_COST,  icon: 'coin', value: data?.coins.format(word.FREE, '-')}); %>

  <%- include('../single/label-item', { text: word.RESPECT.concat(word.INCREASE),  icon: 'respect', showOnlyIf : !!data?.bundle?.respect, value: data.bundle.respect.sign()}); %>

  <%- include('../single/label-item', { text: word.SUCCESS_CHANCE,  icon: 'lucky', showOnlyIf : !!data?.bundle?.successChance, value: data.bundle?.successChance?.dual().percent()}); %>

  <%- include('../single/label-item', { text: word.STAMINA_COST,  icon: 'stamina', showOnlyIf : !!data?.bundle?.staminaCost, value: data.bundle?.staminaCost?.dual().percent()}); %>

  <%- include('../single/label-item', { text: word.COINS_FIND,  icon: 'coin', showOnlyIf : !!data?.bundle?.coins, value: data.bundle?.coins?.dual().percent()}); %>

  <%- include('../single/label-item', { text: word.INTELLIGENCE.concat(word.INCREASE), showOnlyIf : !!data?.bundle?.intelligence, value: data.bundle.intelligence.sign()}); %>

  <%- include('../single/label-item', { text: word.DEXTERITY.concat(word.INCREASE), showOnlyIf : !!data?.bundle?.dexterity, value: data.bundle.dexterity.sign()}); %>

  <%- include('../single/label-item', { text: word.STRENGTH.concat(word.INCREASE), showOnlyIf : !!data?.bundle?.strength, value: data.bundle.strength.sign()}); %>


  <%- include('../single/buttons/button-group', { id: 'submit', 
                                      text: text.MARKET.ACTION_BUTTON,  
                                      loadingButton : true, 
                                      arrested: player.arrested, 
                                      insufficientCoins : player.coins.smaller(data.coins.abs()),
                                    }); %>

</div>