<head>
  <link rel="stylesheet" href="/css/player-status.css">
  <script src="/js/player-status.js"></script>
</head>

<div>
  <div class="card" style="width: 18rem;">
    <img src="/img/thief-head.jpg" class="card-img-top player-head" />


    <span class="badge rounded-pill player-badge <%=player.arrested?'bg-danger' : ''%>">
      <img src="/img/<%=player.arrested? 'lock' : 'respect-star'%>.png" class="player-badge-img">
      <span id="player-badge-text" data-def="<%=word.ARRESTED%>">
        <%=player.arrested? word.ARRESTED : player.respect.format()%>
      </span>
    </span>

    <div class="card-body">
      <h5 class="card-title">
        <%=player.name%>
        <span class="coin-display float-right">
          <img class="mini-img" src="/img/coin.png">
          <span id="status-coins">
            <%=player.coins.format()%>
          </span>
        </span>

      </h5>

      <%- include('../single/progress-bar', { textId: 'status-stamina-percent', barId:'status-stamina', colorClass: 'bg-success', title: word.STAMINA, value: player.stamina }); %>
      <%- include('../single/progress-bar', { textId: 'status-intoxication-percent', barId:'status-intoxication', colorClass: 'bg-purple', title: word.INTOXICATION, value: player.intoxication }); %>
    </div>


    <div class="card-body">
      <h6 class="label-sub-title">
        <%=word.ATTRIBUTES%>
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=word.INTELLIGENCE%>
        <span id="status-intelligence" class="float-right">

          <%=player.intelligence.format()%>
        </span>
      </li>
      <li class="list-group-item"><%=word.DEXTERITY%>
        <span id="status-dexterity" class="float-right">
          <%=player.dexterity.format()%>
        </span>
      </li>
      <li class="list-group-item"><%=word.STRENGTH%>
        <span id="status-strength" class="float-right">
          <%=player.strength.format()%>
        </span>

      </li>
    </ul>



    <div class="card-body">
      <h6 class="label-sub-title" style="margin-top: .5rem!important;">
        <%=word.WEAPONS%>
      </h6>

      <% for(let [index, weapon] of player.weapons.entries() || []){ %>
      <img class="img-thumbnail" style="width: 120px;" src="<%=weapon.img%>">

      <%} %>

    </div>


  </div>

</div>