<div class="card-flat">
  <div id="escape-holder" class="row">
    <div class="col-4">
      <h6 class="card-title">
        Why not try to escape?
      </h6>
      <p class="card-text">Hi Buddy, I can help you get out from here!</p>

      <img src=" /img/prisoner.png" class="card-img-top medium-img" alt="police">
    </div>

    <div class="col-8">

      <div class="input-group">
        <span class="form-control">Coins Cost</span>
        <span class="input-group-text"><img class="mini-img" src="/img/coin.png" alt="Coin"></span>
        <span id="escape-coins" class="input-group-text">
          <%=escape.data.coins.format()%>
        </span>
      </div>

      <%if (escape.data.respect> 0){%>
      <div class="input-group">
        <span class="form-control">Respect Reward</span>
        <span class="input-group-text"><img class="mini-img" src="/img/respect-star.png"></span>
        <span id="escape-respect" class="input-group-text">
          + <%=escape.data.respect.format()%>
        </span>
      </div>
      <%}%>

      <div class="input-group">
      <span class="form-control">Escape Chance</span>
      <span class="input-group-text"><img class="mini-img" src="/img/lucky.png"></span>
      <span id="escape-chance" class="input-group-text">
          <%=escape.escapeChance%> %
      </span>
    </div>


    <%if (Math.abs(escape.data.stamina)> 0){%>
    <div class="input-group">
      <span class="form-control">Stamina Cost</span>
      <span class="input-group-text"><img class="mini-img" src="/img/stamina.png"></span>
      <span id="escape-stamina" class="input-group-text">
        <%=Math.abs(escape.data.stamina)%> %
      </span>
    </div>
    <%}%>


    <%- include('../single/button', { buttonId: 'escape', buttonText: 'Escape',  quoteText: "Adding + " + escape?.daysIncOnFail + " jail day when fail.", loadingButton:true, noStamina: player.stamina < Math.abs(escape.data.stamina) }); %>


  </div>

</div>
</div>