<div class="card-flat">
  <div id="bribe-holder" class="row">
    <div class="col-5">
      <h6 class="card-title"><%=text.PRISON.LOOKING_FOR%></h6>
      <p class="card-text"><%=text.PRISON.CAN_TAKE_IT_EASY%></p>
      <img src=" /img/police.png" class="card-img-top medium-img" />
    </div>
    <div class="col">

      <%- include('../single/label-item', { id: 'bribe-coins', text: word.COINS_COST,  icon: 'coin', showOnlyIf : bribe.update.coins.abs().positive(), value: bribe.update.coins.format()}); %>

      <%- include('../single/label-item', { id: 'bribe-respect', text: word.RESPECT.concat(word.INCREASE),  icon: 'respect', showOnlyIf : bribe.update.respect.positive(), value: bribe.update.respect.sign()}); %>

      <%- include('../single/label-item', { id: 'bribe-stamina', text: word.STAMINA_COST,  icon: 'stamina', showOnlyIf : bribe.update.stamina.abs().positive(), value: bribe.update.stamina.abs().percent()}); %>

      <%- include('../single/buttons/button-group', { id: 'bribe', 
                                        text: word.BRIBE,  
                                        quoteText: text.PRISON.GET_OUT_CHANCE.format(bribe.escapeChance), 
                                        loadingButton: true, 
                                        insufficientCoins: bribe.update.coins.abs().greater(player.coins),
                                        noStamina: bribe.update.stamina.abs().greater(player.stamina),
                                        lifeImprisonment: player.lifeImprisonment 
                                     }); %>

    </div>
  </div>
</div>