<div class="card-flat">
  <div id="escape-holder" class="row">
    <div class="col-4">
      <h6 class="card-title"><%=text.PRISON.TRY_ESCAPE%></h6>
      <p class="card-text"><%=text.PRISON.SOME_GUY_HELP%></p>
      <img src=" /img/prisoner.png" class="card-img-top medium-img" />
    </div>

    <div class="col-8">
      <%- include('../single/label-item', { id: 'escape-coins', text: word.COINS_COST,  icon: 'coin', showOnlyIf : escape.data.coins.abs().positive(), value: escape.data.coins.format()}); %>

      <%- include('../single/label-item', { id: 'escape-respect', text: word.RESPECT_REWARD,  icon: 'respect-star', showOnlyIf : escape.data.respect.abs().positive(), value: escape.data.respect.sign()}); %>

      <%- include('../single/label-item', { id: 'escape-chance', text: word.ESCAPE_CHANCE,  icon: 'lucky', value: escape.escapeChance.percent()}); %>

      <%- include('../single/label-item', { id: 'escape-stamina', text: word.STAMINA_COST,  icon: 'stamina', showOnlyIf : escape.data.stamina.abs().positive(), value: escape.data.stamina.abs().percent()}); %>


      <%- include('../single/button', { id: 'escape', 
                                        text: word.ESCAPE,  
                                        quoteText: text.PRISON.ADDING_DAYS_JAIL.format(escape?.daysIncOnFail, null), 
                                        quoteDefault : text.PRISON.ADDING_DAYS_JAIL,
                                        loadingButton : true, 
                                        insufficientCoins: escape.data.coins.abs().greater(player.coins), 
                                        noStamina: escape.data.stamina.abs().greater(player.stamina), 
                                        lifeImprisonment: player.lifeImprisonment 
                                     }); %>

    </div>

  </div>
</div>