<div class="row align-items-center">
    <h6 class="card-title">
        <%=place.name%> Robbery Attempt
    </h6 s>

    <div class="mb-3 row">
        <div class="input-group">
            <span class="form-control">Coins Reward</span>
            <span class="input-group-text"><img class="mini-img" src="/img/coin.png" alt=""></span>
            <span class="input-group-text">
                + <%=Intl.NumberFormat().format(place.coinsReward)%>
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="input-group">
            <span class="form-control">Respect Increase</span>
            <span class="input-group-text"><img class="mini-img" src="/img/respect-star.png" alt=""></span>

            <span class="input-group-text">
                + <%=place.respect%>
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="input-group">
            <span class="form-control">Stamina Cost</span>
            <span class="input-group-text"><img class="mini-img" src="/img/stamina.png" alt=""></span>
            <span class="input-group-text">
                <%=place.staminaCost%>%
            </span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="input-group">
            <span class="form-control">Success Chance</span>
            <span class="input-group-text"><img class="mini-img" src="/img/lucky.png" alt=""></span>

            <span class="input-group-text">
                <%=place.successChance%>%
            </span>
        </div>
    </div>



    <div class="col-12">
        <%if (thief.stamina < place.staminaCost){%>
            <button class="btn btn-danger" type="button" disabled>
                <span class="robbery-submit-text">Out Of Stamina!</span>
            </button>

            <%}else{%>
                <button class="btn btn-primary" type="button" id="robbery-submit">
                    <span class="spinner-border spinner-border-sm no-display" role="status" aria-hidden="true"></span>
                    <span class="no-display">Loading...</span>
                    <span class="robbery-submit-text">Carry Out Theft</span>
                </button>

                <%}%>

    </div>
</div>