<div class="row align-items-center">
  <h6 class="card-title">
    <%=place.name.concat(word.ROBBERY_ATTEMPT)%>
  </h6>

  <%- include('../single/label-item', { text: word.COINS_REWARD,  icon: 'coin', value: place.coinsReward.sign()}); %>

  <%- include('../single/label-item', { text: word.RESPECT_INCREASE,  icon: 'respect', value: place.respect.sign()}); %>

  <%- include('../single/label-item', { text: word.STAMINA_COST,  icon: 'stamina', value: place.staminaCost.percent()}); %>

  <%- include('../single/label-item', { text: word.SUCCESS_CHANCE,  icon: 'lucky', value: place.successChance.percent()}); %>

  <%- include('../single/buttons/button-group', {id: 'submit', 
                                   text: text.ROBBERY.ACTION_BUTTON, 
                                   noStamina: player.stamina.smaller(place.staminaCost), 
                                   arrested: player.arrested, 
                                   loadingButton: true,
                                   options: [{text: text.ROBBERY.USE_FULL_STAMINA, id: 'submit-full-stamina'}]
                                   }); %>



</div>