<head>
    <link rel="stylesheet" href="/css/thief-status.css">
</head>

<div>


    <div class="card" style="width: 18rem;">
        <img src="<%=thief.img%>" class="card-img-top player-head" alt="thief head">
        <span class="badge rounded-pill respect-badge">
            <img src="/img/respect-star.png" class="respect-star-img">
            <span id="stats-respect">
                <%=thief.respect%>
            </span>
        </span>

        <div class="card-body">
            <h5 class="card-title">
                <%=thief.name%>
                    <span class="coin-display  float-right">
                        <img class="mini-img" src="/img/coin.png" alt="">
                        <span id="stats-coins">
                            <%=Intl.NumberFormat().format(thief.coins)%>
                        </span>
                    </span>

            </h5>

            <h6 class="label-sub-title">
                Stamina
                <span id="stats-stamina-percent" class="progress-num float-right">
                    <%=thief.stamina%>%
                </span>
            </h6>
            <div class="progress">
                <div id="stats-stamina" class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    style="width: <%=thief.stamina%>%" aria-valuenow="<%=thief.stamina%>" aria-valuemin="0"
                    aria-valuemax="100">
                </div>
            </div>

            <h6 class="label-sub-title">
                Intoxication
                <span id="stats-intoxication-percent" class="progress-num float-right">
                    <%=thief.intoxication%>%
                </span>
            </h6>
            <div class="progress">
                <div id="stats-intoxication" class="progress-bar progress-bar-striped bg-purple" role="progressbar"
                    style="width: <%=thief.intoxication%>%" aria-valuenow="<%=thief.intoxication%>" aria-valuemin="0"
                    aria-valuemax="100">

                </div>
            </div>




        </div>


        <div class="card-body">
            <h6 class="label-sub-title">
                Attributes
            </h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Intelligence
                <span id="stats-intelligence" class="float-right">

                    <%=thief.intelligence%>
                </span>
            </li>
            <li class="list-group-item">Dexterity
                <span id="stats-dexterity" class="float-right">
                    <%=thief.dexterity%>
                </span>
            </li>
            <li class="list-group-item">Strength
                <span id="stats-strength" class="float-right">
                    <%=thief.strength%>
                </span>

            </li>
        </ul>



        <div class="card-body">
            <h6 class="label-sub-title" style="margin-top: .5rem!important;">
                Weapons
            </h6>

            <% for(let [index, weapon] of thief.weapons.entries() || []){ %>
                <img class="img-thumbnail" style="width: 120px;" src="<%=weapon.img%>" alt="">

                <%} %>

        </div>


    </div>

</div>